//===================================================
// FOOTER
// - Main Footer
// - Grid
// - Typography
// - Social Media Icons
//===================================================
//---------------------------------------------------
// - Main Footer
//---------------------------------------------------
#main-footer{
  background-color: $color-martinique;
}

//---------------------------------------------------
// - Grid
//---------------------------------------------------
#main-footer{
  padding: 48px 0 36px;

  .footer-logo-col{
    width: 26%;
    float: left;

    @include media("<desktop") {
      width: 28%;
    }

    @include media("<tablet") {
      width: 100%;
      text-align: center;
    }
  }

  .footer-menu-col{
    width: 17.1%;
    float: left;

    @include media("<tablet") {
      width: 100%;
      text-align: center;
    }
  }

  .copyright-col{
    width: 39.8%;
    float: left;
    text-align: right;

    @include media("<desktop") {
      width: 37.8%;
    }

    @include media("<tablet") {
      width: 100%;
      text-align: center;
      margin-top: 26px;
    }

    .btn-wrapper{
      margin-bottom: 25px;
    }
  }
}

//---------------------------------------------------
// - Typography
//---------------------------------------------------
#main-footer{

  .footer-menu-col{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        padding-bottom: 6px;

        a{
          color: $color-light-grayish-blue;
          font-size: 15px;

          &:hover{
            color: $color-lime-green;
          }
        }
      }
    }
  }

  .copyright-container{
    color: $color-grayish-blue;
    font-size: 16px;
  }
}

//---------------------------------------------------
// - Social Media Icons
//---------------------------------------------------
#main-footer{

  .social-media-icons{
    margin-top: 47px;

    @include media("<tablet") {
      margin-top: 23px;
      margin-bottom: 23px;
    }
    
    .social-media-icon {
      display: inline-block;
      padding-right: 9px;

      .img-hover{
        display: none;
      }

      a{
        
        &:hover{
          
          >img{
            display: none;

            &.img-hover{
              display: inline-block;
            }
          }
        }
      }
    }
  }
}