//======================================================================
// HEADER
// - Top Menu
// - Main menu
// - Main menu - Fixed Header
// - Has Children
//======================================================================
//-----------------------------------------------------
// Main menu
//-----------------------------------------------------
#page-container #main-header{
  @include box-shadow(none !important);
}

#main-header{
  margin: 0;
  @include box-shadow(none !important);
  line-height: 1.67;

  .container{
    position: relative;
    padding: 7px 0;
  }

  .logo-container{
    width: 33%;
    display: inline-block;
    margin-top: 24px;
  }

  #logo {
    max-height: 100%;
    height: auto !important;
    width: auto;
    left: -5px;
    position: relative;
    max-width: 164px !important;

    @include media("<tablet"){
      max-width:123px !important;
    }
  }

  .navigation-container{
    display: flex;
    width: 67%;
    float: right;
    align-items: center;
    justify-content: space-between;

    ul{
      list-style: none;
      padding-left: 0;

      li{
        float: left;
        padding-right: 32px;
        
        a{
          color: $color-grayish-blue;
          font-size: 15px;
          position: relative;
          padding-bottom: 31px;

          &:hover,
          &:focus{
            &:after{
              content: '';
              height: 4px;
              width: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, $color-lime-green, $color-bright-cyan) !important;
            }
          }
        }
      }
    }
  }
}



//-----------------------------------------------------
// Main menu - Fixed Header
//-----------------------------------------------------
#page-container #main-header.et-fixed-header {
  @include box-shadow(0 0 7px rgba(0,0,0,.1)!important);
}
