//======================================================================
// Header Mobile
// - Grid
//======================================================================

//-----------------------------------------------------
// - Grid
//-----------------------------------------------------
#main-header{

  .navigation-container{

    .btn-wrapper{
      @include media("<desktop") {
        display: none; 
      }
    }

    .mobile-menu {
      display: none;

      @include media("<desktop") {
        display: block;
        float: right;
      }

      .hamburger {
          width: 24px;
          height: 26px;
          display: block;
    
          > span {
              height: 1px;
              width: 100%;
              display: block;
              background-color: black;
              margin-bottom: 5px;
              transition: all .4s ease;
              transform-origin: left;
    
              &:last-child {
                  margin-bottom: 0;
              }
          }
      }
    }
  }

  &.mobile-menu-active {
    .navigation-container {
        .mobile-menu {
            .hamburger {
                span {
                    height: 1px;

                    &:first-child {
                        transform: rotate(45deg) translateY(-7px);
                        width: 31px;
                    }

                    &:nth-child(2) {
                        width: 0;
                    }

                    &:last-child {
                        transform: rotate(-45deg) translateY(7px);
                        width: 31px;
                    }
                }
            }
        }

        .navigation-menu {
            height: 100%;
            
            ul {
                > li {
                    opacity: 1;
                    transition-delay: 0.8s;

                    > a {
                        .menu-item {
                            span {
                                opacity: 1;
                                transform: translateY(0);
                                transition-delay: calc(0.7s + var(--delay));
                            }
                        }
                    }
                }
            }
        }
    }
  }
}