//===================================================
// Latest Articles Section
// - Grid
// - Typography
//===================================================
//---------------------------------------------------
// - Grid
//---------------------------------------------------
.latest-articles-section{
    padding-top: 54px;
    padding-bottom: 80px;
    background-color: $color-very-light-gray;

    @include media("<tablet"){
        padding-top: 11px;
        padding-bottom: 20px;
    }

    .latest-articles-items{
        margin: 0 -11px;

        .latest-articles-item{
            width: 25%;
            display: inline-block;
            float: left;
            padding: 0 14px;

            @include media("<desktop"){
                width: 50%;
                margin-bottom: 30px;
            }

            @include media("<tablet"){
                width: 100%;
            }

            img{
                min-height: 200px;
                object-fit: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .content-container{
                background-color: $color-white;
                padding: 27px 20px 23px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

//---------------------------------------------------
// - Typography
//---------------------------------------------------
.latest-articles-section{
    
    h2{
        padding-bottom: 14px;

        @include media("<tablet"){
            padding-bottom: 0;
        }
    }

    .latest-articles-item{

        .author{
            font-size: 12px;
            color: $color-grayish-blue;
        }

        h3{
            font-size: 20px;
            line-height: 1.1;
            margin-bottom: 0;
            margin-top: 9px;
        }

        .excerpt{
            color: $color-grayish-blue;
            line-height: 1.25;
            font-size: 13px;
        }
    }
}