
//Paths
$font-path: '../fonts';
$images-path: '../images';

// Color
$color-white: #FFFFFF;
$color-black: #000;
$color-error:#ff0000;
$color-dark-blue: #2d314d;
$color-lime-green: 	#31d35c;
$color-bright-cyan: #2bb7da;
$color-grayish-blue: #9698a6;
$color-light-grayish-blue: #f3f4f6;
$color-very-light-gray:	#fafafa;
$color-martinique: #2d314e;
$color-alabaster: #f9f9f9;
$color-athens-gray: #f4f5f7;
$color-dark-blue-2:hsl(233, 26%, 24%);

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//defaults
$sans-serif: sans-serif;
$font-public-sans: 'Public Sans', $sans-serif;

// Font Family

// Body
$body-font-size: 18px !default;
$body-line-height: 1.5555555556 !default;
$body-font-size-mobile: 18px !default;
$body-font-size-tablet: 21px !default;
$body-font-family: $font-public-sans !default;
$body-color: $color-black !default;

// Headers
$h1-font-size: 56px !default;
$h2-font-size: 40px !default;
$h3-font-size: 24px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 15px !default;

$h1-font-size-tablet: 48px !default;
$h2-font-size-tablet: 36px !default;
$h3-font-size-tablet: 28px !default;
$h4-font-size-tablet: 15px !default;
$h5-font-size-tablet: 14px !default;
$h6-font-size-tablet: 13px !default;

$h1-font-size-mobile: 48px !default;
$h2-font-size-mobile: 36px !default;
$h3-font-size-mobile: 28px !default;
$h4-font-size-mobile: 15px !default;
$h5-font-size-mobile: 14px !default;
$h6-font-size-mobile: 13px !default;


$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;

// Line Height
$line-height-normal: normal;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14


// Font Style
$uppercase: uppercase;

// Font Weight
$fw-100: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-800: 800;
$fw-bolder: 900;

// Links
$link-color: $color-black;

//** Link hover color set via `darken()` function.
$link-hover-color: $color-dark-blue !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

/*
* Button Variables
*/

$button-letter-spacing:0;
$button-font-size:18px;
$button-font-weight:$fw-bold;

