//======================================================================
// Button
// - Default
// - on light background
// - On dark background
// - Big Button
//======================================================================
$button_padding: 11px 11px 12px;
$med_button_padding: 11px 30px 12px 20px;
$big_button_padding: 15px 24px;

// ---------------------------------------------------------
//  Default
//----------------------------------------------------------
.btn {
  color: $color-white;
  padding: 11px 15px;
  border-radius: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, $color-lime-green, $color-bright-cyan) !important;
}


// ---------------------------------------------------------
//  on light background
//----------------------------------------------------------

/* default button style */

// ---------------------------------------------------------
// On Dark background
//----------------------------------------------------------


// ---------------------------------------------------------
//  Big Button
//----------------------------------------------------------


// ---------------------------------------------------------
//  Big Button
//----------------------------------------------------------
