//======================================================================
// Button
// - Default
// - on light background
// - On dark background
// - Big Button
//======================================================================
$button_padding: 11px 11px 12px;
$med_button_padding: 11px 30px 12px 20px;
$big_button_padding: 15px 24px;

// ---------------------------------------------------------
//  Default
//----------------------------------------------------------
.btn {
  color: $color-white;
  padding: 11px 34px 10px;
  border-radius: 50px;
  font-size: 15px;
  display: inline-block;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, $color-lime-green, $color-bright-cyan) !important;

  &:hover{
    color: $color-white;
    position: relative;

    &:after{
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: $color-white;
      border-radius: 50px;
      top: 0;
      left: 0;
      opacity: .4;
    }
  }
}


// ---------------------------------------------------------
//  on light background
//----------------------------------------------------------